@page "/"

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@using System.Globalization
@using SampleBlog.Web.Client.Core.Extensions
@using SampleBlog.Web.Shared.Models.Menu

<PageTitle>Меню - Столовая "Мой Обед"</PageTitle>
<MudText Typo="Typo.h5" GutterBottom="true">Меню на сегодня: @CurrentDateTimeProvider.CurrentDateTime.ToString("d", CultureInfo.CurrentUICulture)</MudText>

@*<MudText Typo="Typo.h3" GutterBottom="true">Hello, world!</MudText>
<MudText Class="mb-8">Welcome to your new app, powered by MudBlazor!</MudText>
<MudAlert Severity="Severity.Normal">You can find documentation and examples on our website here: <MudLink Href="https://mudblazor.com" Typo="Typo.body2" Color="Color.Inherit"><b>www.mudblazor.com</b></MudLink></MudAlert>*@

<MudChipSet MultiSelection=false Mandatory=true Filter=true Class="mb-4 mb-lg-2" @bind-SelectedChip=Chip>
    <MudChip Text="all-dihes" Variant=Variant.Outlined>Все блюда</MudChip>
    <MudChip Text="category1" Variant=Variant.Outlined>Холодные закуски</MudChip>
    <MudChip Text="category2" Variant=Variant.Outlined>Гарниры</MudChip>
    <MudChip Text="category3" Variant=Variant.Outlined>Первые блюда</MudChip>
    <MudChip Text="deserts" Variant=Variant.Outlined>Десерты</MudChip>
</MudChipSet>

<MudGrid>
    <MudItem xs="9">
        <MudPaper Elevation="10">
            <MudTable
                T="Dish"
                Hover=true
                Items=Dishes
                Loading=IsLoading
                MultiSelection=false
                ReadOnly=true
                GroupBy=ProductGroups
                HeaderClass="menu-table-header">
                @*<ToolBarContent>
                    <MudText>Some text</MudText>
                </ToolBarContent>*@
                
                <ColGroup>
                    <col />
                    <col />
                    <col />
                    <col />
                    <col />
                </ColGroup>

                <GroupHeaderTemplate>
                    <MudTh colspan="5">
                        <MudText Align=Align.Left Typo=Typo.h6>@(context.Key ?? "(all other)")</MudText>
                    </MudTh>
                </GroupHeaderTemplate>
                
                <HeaderContent>
                    <MudTh Class="menu-table-dish-name-column">
                        <MudTableSortLabel
                            SortBy=@(new Func<Dish, object>(x => x.Order))
                            InitialDirection=SortDirection.Ascending
                            Enabled=false>
                            <MudText Align="Align.Left">Название продукта</MudText>
                        </MudTableSortLabel>
                    </MudTh>
                    <MudTh Class="menu-table-dish-outcome-column">
                        <MudText Align="Align.Center">Выход (гр.)</MudText>
                    </MudTh>
                    <MudTh Class="menu-table-dish-calories-column">
                        <MudText Align="Align.Center">Ккал (ккал.)</MudText>
                    </MudTh>
                    <MudTh Class="menu-table-dish-price-column">
                        <MudText Align="Align.Center">Цена (руб.)</MudText>
                    </MudTh>
                    <MudTh Class="menu-table-dish-actions-column"/>
                </HeaderContent>
                
                <RowTemplate>
                    <MudTd Class="menu-table-dish-name-column">
                        <MudLink Href="#" Style="@($"color: {Theme.Palette.ActionDefault} !important;")" @onclick=OnDishClick>@context.ProductName</MudLink>
                    </MudTd>
                    <MudTd Class="menu-table-dish-outcome-column">
                        <MudText Align="Align.Center">@context.Outcome.ToString(CultureInfo.CurrentUICulture)</MudText>
                    </MudTd>
                    <MudTd Class="menu-table-dish-calories-column">
                        <MudText Align="Align.Center">@context.Calories.ToCalories(CultureInfo.CurrentUICulture)</MudText>
                    </MudTd>
                    <MudTd Class="menu-table-dish-price-column">
                        <MudText Align="Align.Center">@context.Price.ToRubles()</MudText>
                    </MudTd>
                    <MudTd Class="menu-table-dish-actions-column">
                        <MudIconButton
                            ButtonType=ButtonType.Button
                            Icon=@Icons.Filled.AddShoppingCart
                            Size=Size.Small
                            Variant=Variant.Filled
                            Color=Color.Primary
                            Disabled=@(false == context.IsEnabled)
                            Command=IncrementDish
                            CommandParameter=@context>
                        </MudIconButton>
                    </MudTd>
                </RowTemplate>
                
                <NoRecordsContent>
                    <MudText>No menu</MudText>
                </NoRecordsContent>

                <LoadingContent>
                    <MudText>Loading...</MudText>
                </LoadingContent>
            </MudTable>
        </MudPaper>
    </MudItem>
    <MudItem xs="3">
        <MudPaper Elevation="24">
            <Calculator>
                <HeaderContent>
                    <MudText Align=Align.Left Typo=Typo.h6 Class="ml-4 mr-4 mt-4">Калькулятор</MudText>
                    <MudText Align=Align.Left Typo=Typo.subtitle2 Class="ml-4 mr-4 pb-4">Посчитай свой Обед</MudText>
                </HeaderContent>
                <EmptyContent>
                    <div class="d-flex justify-content-center">
                        <MudText Inline=true Align=Align.Center>No order yet</MudText>
                    </div>
                </EmptyContent>
                <RowTemplate>
                    <div class="d-block">
                        <MudText Inline=true Typo=Typo.body1>@context.Item1.ProductName</MudText>
                    </div>
                    <div class="d-flex justify-space-between">
                        <MudText Align=Align.Start Typo=Typo.body2 Inline=true Class="ml-4">@context.Item1.Calories.ToCalories(CultureInfo.CurrentUICulture)</MudText>
                        <MudText Align=Align.End Typo=Typo.body2 Inline=true Class="mr-4">@context.Item1.Outcome.ToString(CultureInfo.CurrentUICulture)</MudText>
                    </div>
                    <div class="d-flex justify-space-between">
                        <MudText Class="mr-2" Inline=true Align=Align.Center Typo=Typo.h6>@context.Item1.Price.ToRubles()</MudText>
                        <div class="d-flex justify-content-start">
                            <MudIconButton Class="d-inline" Icon=@Icons.Material.Filled.Remove Size=Size.Small Command=DecrementDish CommandParameter=@context.Item1></MudIconButton>
                            <MudText Class="rounded border-solid border-2 mud-border-lines-default pa-1" Style="width: 40px;" Inline=true Typo=Typo.body2 Align=Align.Center>@context.Item2</MudText>
                            <MudIconButton Class="d-inline" Icon=@Icons.Material.Filled.Add Size=Size.Small Command=IncrementDish CommandParameter=@context.Item1></MudIconButton>
                        </div>
                        <MudIconButton Icon=@Icons.Material.Filled.Delete Size=Size.Small aria-label="Delete" Command=RemoveDish CommandParameter=@context.Item1></MudIconButton>
                    </div>
                </RowTemplate>
                <BottomContent>
                    <div class="d-flex justify-content-center ml-4 mr-4 mt-4">
                        <MudText Align=Align.Left Typo=Typo.h6 Inline=true>Итого: </MudText>
                        <MudText Align=Align.Left Typo=Typo.h5 Inline=true Color=Color.Primary Class="pl-2">@context.Item2.ToRubles()</MudText>
                    </div>
                    <div class="d-block ml-4 mr-4 pb-4">
                        <MudText Align=Align.Left Typo=Typo.body2 Inline=true>@context.Item1.ToCalories(CultureInfo.CurrentUICulture)</MudText>
                    </div>
                </BottomContent>
            </Calculator>
        </MudPaper>
    </MudItem>
</MudGrid>